<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/main.css">
    <!--[if lt IE 9]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
</head>

<body>

    <h1>Hello World</h1>

    <!--Put Jquery here, use https minified https://code.jquery.com/ -->

    <!-- Main -->
    <script src="js/main.js"></script>

</body>

</html>